/* static/css/recuperar_senha.css */

.app-container {
    background: linear-gradient(to bottom, #FFFFE4 75%, #DCA7B8 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 25px 30px 20px 30px; 
    box-sizing: border-box; 
}

.logo-img {
    width: 250px; 
    height: auto; 
    margin-top: 10px; 
}

.card-aviso {
    width: 100%;
    background-color: #FFDCC3; 
    border-radius: 20px;
    padding: 30px 20px;
    margin-top: 50px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.texto-principal {
    color: #BD5D16; 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    margin: 0;
}


.form-recuperar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.form-recuperar input {
    width: 100%;
    padding: 12px 15px;
    background-color: #FFFFE4;
    border: none;
    border-radius: 15px; 
    font-size: 15px;
    color: #B5792A;
    outline: none;
    box-sizing: border-box;
}

.form-recuperar input::placeholder {
    color: #B5792A;
    opacity: 0.7;
}


.botoes-grupo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-top: 10px;
}

.btn-action {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 20px; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}

.btn-action:active {
    transform: scale(0.98);
}

.btn-reenviar {
    background-color: #F3AF76;
    color: white;
}

.btn-voltar-login {
    background-color: #B26E30;
    color: white;
}


.alerta {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
}

.alerta-erro {
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
}

.alerta-sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}