/* Fundo da tela */
.relatorio-bg {
    background: linear-gradient(to bottom, #fffdf0, #fff4f4, #dca6b6);
}

/* Botão voltar */
.btn-voltar {
    width: 60px;
    height: 32px;
    background-color: #f8b26a;
    color: white;
    border: 2px solid #5c3b46;
    border-radius: 12px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

/* Título */
.titulo-card {
    background-color: #f77f82;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

/* Lista de humores */
.lista-humores {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Cada item */
.humor-card {
    background-color: #ffffdc;
    color: #6b3d51;
    font-size: 22px;
    padding: 18px 24px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Botão para ir ao mensal */
.btn-mensal {
    background-color: #f77f82;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 22px;
    border-radius: 12px;
    margin: 30px auto 0;
    display: block;
    text-align: center;
    width: fit-content;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}