<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ánimo - Login</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <div class="app-container">
        
        <h2>Acesse o Ánimo</h2>
        <form>
            <label>E-mail:</label>
            <input type="email" required placeholder="seu@email.com">

            <label>Senha:</label>
            <input type="password" required placeholder="••••••••">

            <button type="submit">Entrar</button>
        </form>

        <p class="link-secundario">
            <a href="{{ url_for('recuperar_senha') }}">Esqueceu sua senha?</a>
        </p>
        
        <p>Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>

    </div>

</body>
</html>