<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ánimo - Login</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <div class="app-container">
        
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/LogoAnimo.png') }}" alt="Logo Ânimo" class="logo-img">
        </div>

        <h3 class="boas-vindas">Bem vindo (a)</h3>

        <form class="login-form">
            <div class="input-grupo">
                <input type="email" required placeholder="Email">
            </div>

            <div class="input-grupo">
                <input type="password" required placeholder="Senha">
            </div>

            <button type="submit" class="btn-login">Login</button>
        </form>

        <a href="{{ url_for('recuperar_senha') }}" class="link-esqueceu">Esqueceu a senha?</a>

        <div class="divisoria"></div>
        <div class="cadastro-footer">
            <span>Não tem uma conta?</span>
            <a href="{{ url_for('cadastro') }}" class="link-cadastro">Cadastre-se</a>
        </div>

    </div>

</body>
</html>