<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ánimo - Recuperação de Senha</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recuperar_senha.css') }}">
</head>
<body>

    <div class="app-container">
        
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/LogoAnimo.png') }}" alt="Logo Ânimo" class="logo-img">
        </div>

        <div class="card-aviso">
            <p class="texto-principal">Redefinir Senha</p>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alerta alerta-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form class="form-recuperar" method="POST" action="/recuperar-senha">
                <input type="email" name="email" required placeholder="Seu email cadastrado">
                <input type="password" name="nova_senha" required placeholder="Nova senha">
                <input type="password" name="confirme_senha" required placeholder="Confirme a nova senha">
                
                <div class="botoes-grupo">
                    <button type="submit" class="btn-action btn-reenviar">Atualizar Senha</button>
                    
                    <a href="{{ url_for('index') }}" class="btn-action btn-voltar-login">
                        Voltar para o login
                    </a>
                </div>
            </form>
        </div>

    </div>

</body>
</html>