<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugestão Diária</title>

    
    <link rel="stylesheet"
        href="{{ url_for('static', filename='CSS/sugestao.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>
     <div class="app-container">
<div>
    <header class="cabecalho-container">
  <a href="/tela-inicial" class="botao-voltar">
    <img src="/static/img/voltar.png" alt="Voltar" class="icone-voltar">
</a>

</div>
        <div class="faixa-titulo">
            <h1>Sugestão de hoje</h1>
        </div>

    </header>

    <div class="cartao-sugestao">

        <img
            class="img-sugestao"
            src="/static/img/caderno.png"
            alt="Diário">

        <p class="texto-descricao">
            {{ sugestao }}
        </p>

            </form>

        </div>

    </div>
</div>
</body>

</html>